@import './reset.css';

#header{
  height: 480px;

  background-image: url(../img/free-header.jpg);
  background-position: center center;
  position: relative;
  vertical-align: center;
}

.title{
  color: white;
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-65%);
}

.menu-ber{
  background-color: rgb(245, 245, 245);
  padding: 10px;
}

.menu-lists{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.menu-list{
  margin: 0 20px;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
}

a.nav-list:hover{
  border-bottom: solid 2px black;
  opacity: 0.5;
  transition: 0.2s ease-out 0s;
  cursor: pointer;
}

.contents{
  background-color: rgb(245, 245, 245);
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 80px;
}

.profile-items{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  width: 70%;
}

.content-title{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
.profile-text{
  padding-left: 20px;
  width: 66%;
}

.icon{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.card-wrap{
  width: 70%;
  margin: 0 auto;
}

.card{
  background-color: white;
  height: 200px;
}

footer{
  background-color: rgb(31, 31, 31);
}

.footer-nav{
  padding: 30px;
  margin: 0 auto;
  max-width: 1320px;
}

.footer-lists{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

a.nav-title:hover{
  border-bottom: solid 2px white;
  opacity: 0.7;
  transition: 0.2s ease-out 0s;
  cursor: pointer;
}

.footer-list{
  padding: 0 20px;
  color: white;
  font-size: 12px;
}

.copyright{
  font-size: 12px;
  color: rgb(165, 165, 165);
  text-align: center;
  margin-bottom: 15px;
}